{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://use.fontawesome.com/7e259c4801.js"></script>
	<title></title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
	</head>
	
	<body id="home">
	
	<!-- Navigation bar-->
  <nav class="navbar navbar-inverse navbar-fixed-top shift navbar-static-top" id="my-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="" class="navbar-brand">Genomic Analysis</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a>
          <li><a href="#about">About</a>
          <li><a href="#data">Data</a>
          <li><a href="#analysis">Analysis</a>
        </ul>
      </div>
    </div>
  </nav>

	  <header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Genomic Data Analysis</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Instantly query gene expression data from the National Cancer Institute Data Portal, and cross validate results with PubMed</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Get Started</a>
          </div>
        </div>
      </div>
    </header>
	
	<section id="about">
	<div class="container">
		<div class="row">
		<h1>
		About
		</h1>
		<hr class="light">
		<p class="text-faded">
		Auto query HTSeq - Count gene expression data from the 
		Genomic Data Commons (GDC). Alternatively, upload your
		own data for differential gene expression analysis, and
		cross reference with a targeted search of PubMed for 
		related genes and proteins.
		</p>
		</div>
	</div>
	</section>
	
	<section id="data">
		<div class="container-fluid" style="padding-top:20px;">
			<div class="container" style="min-height:30rem; background-color:white; ">
			<div class="row" style="min-height:50px; background-color:grey;">
			<i class="fa fa-database fa-3x" aria-hidden="true" style="padding-left:5px; padding-top:4px">Data Fields</i>
			</div>
				<div class="row" style="min-height:100%">
					<form action="search" method="post" id="search_form" name="search_form">
						<div class="container pad_container">
						
						<div class="form-group" style="max-width:80%;">
						  <label for="sel1">National Cancer Institute Data Portal:</label>
						  <select name="sel1" class="form-control" id="sel1">
							<option selected>Choose...</option>
							<option>[LIHC] Liver Hepatocellular Carcinoma</option>
							<option>[DCIS] Ductal Carcinoma In Situ</option>
						  </select>
						</div>
						
						<div class="form-group" style="max-width:80%;">
						  <label for="sel2">Pubmed:</label>
						  <select name="sel2" class="form-control" id="sel2">
							<option selected>Choose...</option>
							<option>Liver Hepatocellular Carcinoma [LIHC]</option>
							<option>Ductal Carcinoma In Situ [DCIS]</option>
						  </select>
						</div>
						
						<div class="form-group">
							<label for="localfile">Upload Local Data</label>
							<input name="localFile" type="file" class="form-control-file" id="localFile">
						</div>
						  
						<div class="form-check form-check-inline">
						  <input class="form-check-input" name="nci_data" type="checkbox"
							id="nci_data">
						  <label class="form-check-label" for="nci_data">NCI Data</label>
						</div>
						
						<div class="form-check form-check-inline">
						  <input class="form-check-input" name="local_data" type="checkbox"
							id="local_data">
						  <label class="form-check-label" for="local_data">Local Data</label>
						</div>
						
						<div class="form-check form-check-inline">
						  <input class="form-check-input" name="pubmed_data" type="checkbox"
							id="pubmed_data">
						  <label class="form-check-label" for="inlineCheckbox3">Pubmed Cross Reference</label>
						</div>
						  
						<input type="submit" value="submit" name="submit_form" class="btn btn-primary btn-md"
						style="background-color:#3387d7;"/>
					
						</div>
					</form>
				</div>
				<div class="row">
				
				</div>
			<div>

			<h2 name="results" id="results">
			</div>
		</div>
		
			
			<div class="container" style="min-height:30rem; background-color:white; ">
			<div class="row" style="min-height:50px; background-color:grey;">
			<i class="fa fa-table fa-3x" aria-hidden="true" style="padding-left:5px; padding-top:4px">Data Summary</i>
			</div>
			<div class="row" style="">
			{% autoescape off %}
				{{ nci_results }}
			{% endautoescape %}
			{{ pubmed_results }}
			</div>
			</div>
		
	</section>
	

	
	
	
	<!-- JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static './js/pagescroll.js' %}"></script>
	</body>
</html>
